<%= form_for(@micropost) do |f|%>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost...", onkeyup: 'count()' %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
  <span id="micropost_char_count" style="float:right;margin-top:18px;">140 characters left</span>
<% end %>

<script language="JavaScript">
function count (){
	var a = document.getElementById('micropost_char_count');
	var b = document.getElementById('micropost_content');
	var left = 140 - b.value.length;
	if (left>=0){
		document.getElementById('micropost_char_count').style.color='black';
		if (left === 1) a.innerHTML = '1 character left';
		else if (left === 0) a.innerHTML = '0 character left';
		else a.innerHTML = left + ' characters left';
	}
	else{
		document.getElementById('micropost_char_count').style.color='red';
		if (left === -1) a.innerHTML = '1 character overflow';
		else a.innerHTML = left*(-1) + ' characters overflow';}
}
</script>